openapi: 3.1.0
info:
  title: Audio Guide 2026 API
  version: 1.9.0

servers:
  - url: https://api.mambax.app/v1
  - url: https://audiogid-api-preview.vercel.app/v1

paths:
  # ... (Previous paths preserved) ...
  /health:
     get: { summary: System Health, operationId: getHealth, responses: { '200': { description: OK } } }

  # --- Tours (Public) ---
  /public/tours:
    get: { summary: List Tours, operationId: getPublicTours, parameters: [{name: city, in: query, required: true, schema: {type: string}}], responses: { '200': { content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/TourRead' } } } } } } } 
  /public/tours/{tourId}:
    get: { summary: Tour Detail, operationId: getPublicTourDetail, parameters: [{name: tourId, in: path, schema: {type: string, format: uuid}}, {name: city, in: query, schema: {type: string}}], responses: { '200': { content: { application/json: { schema: { $ref: '#/components/schemas/TourDetail' } } } } } } }
  
  # --- PR-9: Manifest ---
  /public/tours/{tourId}/manifest:
    get:
      summary: Download Tour Manifest
      description: Returns full tour package. Requires Entitlement.
      operationId: getTourManifest
      parameters:
        - name: tourId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: city
          in: query
          required: true
          schema: { type: string }
        - name: device_anon_id
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Full Manifest
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TourManifest' }
        '403': { description: Payment Required }
        '404': { description: Not Found }

  # --- Previous Endpoints (Nearby, Catalog, POI...) ---
  /public/nearby:
    get: { summary: Nearby, operationId: getNearby, parameters: [{name: city, in: query}, {name: lat, in: query}, {name: lon, in: query}, {name: radius_m, in: query}], responses: { '200': { content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/NearbyItem' } } } } } } }
  /public/catalog:
    get: { summary: Catalog, operationId: getPublicCatalog, parameters: [{name: city, in: query}], responses: { '200': { content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/PoiRead' } } } } } } }
  /public/poi/{poiId}:
    get: { summary: POI Detail, operationId: getPublicPoiDetail, parameters: [{name: poiId, in: path}], responses: { '200': { content: { application/json: { schema: { $ref: '#/components/schemas/PoiDetail' } } } } } }
  /public/cities:
    get: { summary: Cities, operationId: getPublicCities, responses: { '200': { content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/CityRead' } } } } } } }
  /public/map/attribution:
     get: { summary: Map Attribution, operationId: getMapAttribution, parameters: [{name: city, in: query}], responses: { '200': { content: { application/json: { schema: { $ref: '#/components/schemas/MapAttributionRead' } } } } } }
  /public/helpers:
     get: { summary: Helpers, operationId: getHelpers, parameters: [{name: city, in: query}, {name: category, in: query}], responses: { '200': { content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/HelperPlaceRead' } } } } } } }

  # --- Purchases ---
  /public/purchases/tours/intent:
    post: { summary: Create Intent, operationId: createPurchaseIntent, requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /public/purchases/tours/confirm:
    post: { summary: Confirm, operationId: confirmPurchase, requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '200': {} } }
  /public/entitlements:
    get: { summary: Get Entitlements, operationId: getEntitlements, parameters: [{name: city, in: query}, {name: device_anon_id, in: query}], responses: { '200': {} } }

  # --- Admin ---
  /admin/tours:
     post: { summary: Create Draft Tour, operationId: createTour, requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/items:
     post: { summary: Add Tour Item, operationId: addTourItem, parameters: [{name: tourId, in: path}], requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/sources:
     post: { summary: Add Tour Source, operationId: addTourSource, parameters: [{name: tourId, in: path}], requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/media:
     post: { summary: Add Tour Media, operationId: addTourMedia, parameters: [{name: tourId, in: path}], requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/publish:
     post: { summary: Publish Tour, operationId: publishTour, parameters: [{name: tourId, in: path}], responses: { '200': {} } }
  /admin/tours/{tourId}/unpublish:
     post: { summary: Unpublish Tour, operationId: unpublishTour, parameters: [{name: tourId, in: path}], responses: { '200': {} } }
  /admin/tours/{tourId}/publish_check:
     get: { summary: Check Tour, operationId: checkTourPublish, parameters: [{name: tourId, in: path}], responses: { '200': {} } }
  # ... (Admin POI/Ingestion omitted for brevity, assuming existing) ...
  /admin/pois:
     post: { summary: Create Draft POI, operationId: createPoi, responses: { '201': {} } }
  # etc...

components:
  schemas:
    TourRead:
      type: object
      properties: { id: { type: string } }
    TourDetail:
      type: object
      properties: { id: { type: string } }
    PoiRead:
      type: object
      properties: { id: { type: string }, title_ru: { type: string } }
    PoiDetail:
      type: object
      properties:
         id: { type: string }
         title_ru: { type: string }
         description_ru: { type: string } # Added via PR-9
    
    # New Manifest Schema
    TourManifest:
      type: object
      required: [tour, pois, assets]
      properties:
        tour: { $ref: '#/components/schemas/TourDetail' }
        pois: { type: array, items: { $ref: '#/components/schemas/PoiDetail' } }
        assets:
          type: array
          items:
            type: object
            required: [url, type, owner_id]
            properties:
              url: { type: string }
              type: { type: string }
              owner_id: { type: string }
              
    NearbyItem:
      type: object
      properties: { id: { type: string }, type: { type: string }, distance_m: { type: number } }
    CityRead:
      type: object
      properties: { id: { type: string }, slug: { type: string } }
    HelperPlaceRead:
       type: object
       properties: { id: { type: string } }
    MapAttributionRead:
       type: object
       properties: { attribution_text: { type: string } }
