openapi: 3.1.0
info:
  title: Audio Guide 2026 API
  version: 1.10.0

servers:
  - url: https://api.mambax.app/v1
  - url: https://audiogid-api-preview.vercel.app/v1

paths:
  # ... (Previous paths retained) ...
  /health:
     get: { summary: System Health, operationId: getHealth, responses: { '200': { description: OK } } }

  # --- Deletion (PR-10) ---
  /public/account/delete/request:
    post:
      summary: Request Account Deletion
      description: Initiates async deletion of user data.
      operationId: requestDeletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject_id, idempotency_key]
              properties:
                subject_id: { type: string, description: "Device Anon ID" }
                idempotency_key: { type: string }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, status: { type: string } } }

  /public/account/delete/status:
    get:
      summary: Check Deletion Status
      operationId: getDeletionStatus
      parameters:
        - name: deletion_request_id
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, status: { type: string }, completed_at: { type: string, format: date-time } } }

  /delete:
    get:
      summary: Web Deletion Form
      operationId: getWebDeletionForm
      responses:
        '200':
          description: HTML Form
          content:
            text/html: { schema: { type: string } }

  # --- Tours ---
  /public/tours:
    get: { summary: List Tours, operationId: getPublicTours, parameters: [{name: city, in: query, required: true, schema: {type: string}}], responses: { '200': { content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/TourRead' } } } } } } } 
  /public/tours/{tourId}:
    get: { summary: Tour Detail, operationId: getPublicTourDetail, parameters: [{name: tourId, in: path, schema: {type: string, format: uuid}}, {name: city, in: query, schema: {type: string}}], responses: { '200': { content: { application/json: { schema: { $ref: '#/components/schemas/TourDetail' } } } } } } }
  /public/tours/{tourId}/manifest:
    get:
      summary: Download Tour Manifest
      operationId: getTourManifest
      parameters: [{name: tourId, in: path}, {name: city, in: query}, {name: device_anon_id, in: query}]
      responses: { '200': { content: { application/json: { schema: { $ref: '#/components/schemas/TourManifest' } } } } }

  # --- Purchases ---
  /public/purchases/tours/intent:
    post: { summary: Create Intent, operationId: createPurchaseIntent, requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /public/purchases/tours/confirm:
    post: { summary: Confirm, operationId: confirmPurchase, requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '200': {} } }
  /public/entitlements:
    get: { summary: Get Entitlements, operationId: getEntitlements, parameters: [{name: city, in: query}, {name: device_anon_id, in: query}], responses: { '200': {} } }

  # --- Admin ---
  /admin/tours:
     post: { summary: Create Draft Tour, operationId: createTour, requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/items:
     post: { summary: Add Tour Item, operationId: addTourItem, parameters: [{name: tourId, in: path}], requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/sources:
     post: { summary: Add Tour Source, operationId: addTourSource, parameters: [{name: tourId, in: path}], requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/media:
     post: { summary: Add Tour Media, operationId: addTourMedia, parameters: [{name: tourId, in: path}], requestBody: { content: { application/json: { schema: { type: object } } } }, responses: { '201': {} } }
  /admin/tours/{tourId}/publish:
     post: { summary: Publish Tour, operationId: publishTour, parameters: [{name: tourId, in: path}], responses: { '200': {} } }
  /admin/ingestion/runs:
    get:
      summary: List Ingestion Runs
      operationId: getIngestionRuns
      parameters:
        - {name: city, in: query, schema: {type: string}}
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IngestionRunRead'
  # ... (other admin endpoints) ...

components:
  schemas:
    TourRead:
      type: object
      properties: { id: { type: string } }
    TourDetail:
      type: object
      properties: { id: { type: string } }
    TourManifest:
      type: object
      properties: { tour: { type: object }, pois: { type: array }, assets: { type: array } }
    PoiRead:
      type: object
      properties: { id: { type: string } }
    PoiDetail:
       type: object
       properties: { id: { type: string } }
    NearbyItem:
       type: object
       properties: { id: { type: string } }
    CityRead:
       type: object
       properties: { id: { type: string } }
    HelperPlaceRead:
       type: object
       properties: { id: { type: string } }
    MapAttributionRead:
       type: object
       properties: { attribution_text: { type: string } }
    IngestionRunRead:
      type: object
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
        status: { type: string }
        stats_json: { type: string, nullable: true }
        last_error: { type: string, nullable: true }
        trace_id: { type: string, nullable: true }
        last_audit_action: { type: string, nullable: true }
        last_audit_at: { type: string, format: date-time, nullable: true }

paths:
  # ... (existing admin paths)
  /admin/ingestion/runs:
    get:
      summary: List Ingestion Runs
      operationId: getIngestionRuns
      parameters:
        - {name: city, in: query, schema: {type: string}}
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IngestionRunRead'
