openapi: 3.1.0
info:
  title: Audio Guide 2026 API
  version: 1.3.0
  description: "Strict Contract for Audio Guide 2026. Source of truth."

servers:
  - url: https://api.mambax.app/v1
    description: Production
  - url: https://audiogid-api-preview.vercel.app/v1
    description: Preview

paths:
  /health:
    get:
      summary: System Health
      operationId: getHealth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  version: { type: string }

  # --- Public (PR-1) ---
  /public/cities:
    get:
      summary: List available city tenants
      operationId: getPublicCities
      responses:
        '200':
          description: List of cities
          headers: { ETag: { schema: { type: string } } }
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/CityRead' } }
        '304': { description: Not Modified }

  /public/tours:
    get:
      summary: List tours for a city
      operationId: getPublicTours
      parameters:
        - name: city
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: List of tours
          headers: { ETag: { schema: { type: string } } }
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/TourRead' } }
        '304': { description: Not Modified }

  /public/catalog:
    get:
      summary: List POIs for a city
      operationId: getPublicCatalog
      parameters:
        - name: city
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: List of POIs
          headers: { ETag: { schema: { type: string } } }
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/PoiRead' } }
        '304': { description: Not Modified }

  # --- Ingestion Admin (PR-2/3) ---
  /admin/ingestion/osm/enqueue:
    post:
      summary: Enqueue OSM Import Job
      operationId: enqueueOsmImport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [city_slug, boundary_ref]
              properties:
                city_slug: { type: string }
                boundary_ref: { type: string }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobEnqueueResponse' }

  /admin/ingestion/helpers/enqueue:
    post:
      summary: Enqueue Helpers Import Job
      operationId: enqueueHelpersImport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [city_slug]
              properties:
                city_slug: { type: string }
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobEnqueueResponse' }

  /admin/ingestion/runs:
    get:
      summary: List Ingestion Runs
      operationId: getIngestionRuns
      parameters:
        - name: city
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/IngestionRunRead' } }

  # --- Core ---
  /jobs/{jobId}:
    get:
      summary: Get Job Status
      operationId: getJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Job Details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobRead' }
        '404': { description: Job Not Found }

  /internal/jobs/callback:
    post:
      summary: QStash Callback (Internal)
      operationId: handleJobCallback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                job_id: { type: string, format: uuid }
      responses:
        '200': { description: Processed }
        '401': { description: Invalid Signature }

components:
  schemas:
    CityRead:
      type: object
      required: [id, slug, name_ru]
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name_ru: { type: string }
    
    TourRead:
      type: object
      required: [id, city_slug, title_ru]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        title_ru: { type: string }

    PoiRead:
      type: object
      required: [id, city_slug, title_ru]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        title_ru: { type: string }

    JobRead:
      type: object
      required: [id, type, status, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        type: { type: string }
        status: { type: string }
        result: { type: object, nullable: true }
        error: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    JobEnqueueResponse:
      type: object
      required: [job_id, status]
      properties:
        job_id: { type: string, format: uuid }
        status: { type: string }
        idempotency_key: { type: string, nullable: true }

    IngestionRunRead:
      type: object
      required: [id, city_slug, status, started_at]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        status: { type: string }
        stats_json: { type: string, nullable: true }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
