openapi: 3.1.0
info:
  title: Audio Guide 2026 API
  version: 1.5.0

servers:
  - url: https://api.mambax.app/v1
  - url: https://audiogid-api-preview.vercel.app/v1

paths:
  /health:
    get:
      summary: System Health
      operationId: getHealth
      responses: { '200': { description: OK } }

  # --- Public ---
  /public/cities:
    get:
      summary: List available city tenants
      operationId: getPublicCities
      responses:
        '200':
          description: List of cities
          headers: { ETag: { schema: { type: string } } }
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/CityRead' } }
        '304': { description: Not Modified }

  /public/tours:
    get:
      summary: List tours for a city
      operationId: getPublicTours
      parameters:
        - name: city
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: List of tours
          headers: { ETag: { schema: { type: string } } }
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/TourRead' } }
        '304': { description: Not Modified }

  /public/catalog:
    get:
      summary: List Published POIs for a city
      operationId: getPublicCatalog
      parameters:
        - name: city
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: List of POIs
          headers: { ETag: { schema: { type: string } } }
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/PoiRead' } }
        '304': { description: Not Modified }

  /public/poi/{poiId}:
    get:
      summary: Get Published POI Detail
      operationId: getPublicPoiDetail
      parameters:
        - name: poiId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: city
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: POI Detail
          headers: { ETag: { schema: { type: string } } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PoiDetail' }
        '404': { description: Not Found or Not Published }
        '304': { description: Not Modified }

  /public/map/attribution:
    get:
      summary: Get Map Attribution Config
      operationId: getMapAttribution
      parameters:
        - name: city
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Attribution Config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MapAttributionRead' }

  /public/helpers:
    get:
      summary: List Helper Places
      operationId: getHelpers
      parameters:
        - name: city
          in: query
          required: true
          schema: { type: string }
        - name: category
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of Helpers
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/HelperPlaceRead' } }

  # --- Admin (Publishing Gates) ---
  /admin/pois:
    post:
      summary: Create Draft POI (Test/Validation)
      operationId: createPoi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title_ru, city_slug]
              properties:
                title_ru: { type: string }
                city_slug: { type: string }
      responses: { '201': { description: Created } }

  /admin/pois/{poiId}/sources:
    post:
      summary: Add POI Source
      operationId: addPoiSource
      parameters:
        - name: poiId
          in: path
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                url: { type: string, nullable: true }
      responses: { '201': { description: Created } }

  /admin/pois/{poiId}/media:
    post:
      summary: Add POI Media
      operationId: addPoiMedia
      parameters:
        - name: poiId
          in: path
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, media_type, license_type, author, source_page_url]
              properties:
                url: { type: string }
                media_type: { type: string }
                license_type: { type: string }
                author: { type: string }
                source_page_url: { type: string }
      responses: { '201': { description: Created } }

  /admin/pois/{poiId}/publish:
    post:
      summary: Publish POI (with Gates)
      operationId: publishPoi
      parameters:
        - name: poiId
          in: path
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Published }
        '422': { description: Gates Failed }

  /admin/pois/{poiId}/unpublish:
    post:
      summary: Unpublish POI
      operationId: unpublishPoi
      parameters:
        - name: poiId
          in: path
          schema: { type: string, format: uuid }
      responses: { '200': { description: Unpublished } }

  /admin/pois/{poiId}/publish_check:
    get:
      summary: Check Publish Eligibility
      operationId: checkPublish
      parameters:
        - name: poiId
          in: path
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Check Result
          content:
            application/json:
              schema:
                type: object
                required: [can_publish, issues]
                properties:
                  can_publish: { type: boolean }
                  issues: { type: array, items: { type: string } }

  # --- Admin (Ingestion) ---
  /admin/ingestion/osm/enqueue:
    post:
      summary: Enqueue OSM Import Job
      operationId: enqueueOsmImport
      requestBody: { content: { application/json: { schema: { type: object, required: [city_slug, boundary_ref], properties: { city_slug: { type: string }, boundary_ref: { type: string } } } } } }
      responses: { '202': { description: Accepted } }

  /admin/ingestion/helpers/enqueue:
    post:
      summary: Enqueue Helpers Import Job
      operationId: enqueueHelpersImport
      requestBody: { content: { application/json: { schema: { type: object, required: [city_slug], properties: { city_slug: { type: string } } } } } }
      responses: { '202': { description: Accepted } }
      
  /admin/ingestion/runs:
    get:
      summary: List Ingestion Runs
      operationId: getIngestionRuns
      parameters:
        - name: city
          in: query
          schema: { type: string }
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/IngestionRunRead' } }

  # --- Core ---
  /jobs/{jobId}:
    get:
      summary: Get Job Status
      operationId: getJob
      parameters:
        - name: jobId
          in: path
          schema: { type: string, format: uuid }
      responses:
        '200':
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobRead' }

  /internal/jobs/callback:
    post:
      summary: QStash Callback (Internal)
      operationId: handleJobCallback
      responses: { '200': { description: Processed } }

components:
  schemas:
    CityRead:
      type: object
      required: [id, slug, name_ru]
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name_ru: { type: string }
    
    TourRead:
      type: object
      required: [id, city_slug, title_ru]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        title_ru: { type: string }

    PoiRead:
      type: object
      required: [id, city_slug, title_ru]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        title_ru: { type: string }
    
    PoiDetail:
      type: object
      required: [id, city_slug, title_ru, published_at, sources, media]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        title_ru: { type: string }
        published_at: { type: string, format: date-time }
        sources: 
          type: array
          items:
            type: object
            required: [name, url]
            properties:
              name: { type: string }
              url: { type: string, nullable: true }
        media:
          type: array
          items:
            type: object
            required: [url, license_type, author, source_page_url]
            properties:
              url: { type: string }
              license_type: { type: string }
              author: { type: string }
              source_page_url: { type: string }

    HelperPlaceRead:
      type: object
      required: [id, city_slug, type, lat, lon]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        type: { type: string }
        lat: { type: number }
        lon: { type: number }
        name_ru: { type: string, nullable: true }

    MapAttributionRead:
      type: object
      required: [attribution_text, data_provider]
      properties:
        attribution_text: { type: string }
        attribution_url: { type: string, nullable: true }
        data_provider: { type: string }

    JobRead:
      type: object
      required: [id, type, status, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        type: { type: string }
        status: { type: string }
        result: { type: object, nullable: true }
        error: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    JobEnqueueResponse:
      type: object
      required: [job_id, status]
      properties:
        job_id: { type: string, format: uuid }
        status: { type: string }
        idempotency_key: { type: string, nullable: true }

    IngestionRunRead:
      type: object
      required: [id, city_slug, status, started_at]
      properties:
        id: { type: string, format: uuid }
        city_slug: { type: string }
        status: { type: string }
        stats_json: { type: string, nullable: true }
        started_at: { type: string, format: date-time }
        finished_at: { type: string, format: date-time, nullable: true }
