name: Integration Tests

on:
  pull_request:
    paths:
      - 'apps/mobile_flutter/**'

jobs:
  drive_android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/mobile_flutter
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.9'
          channel: 'stable'
          cache: true
      
      - name: Install dependencies
        run: flutter pub get

      - name: Run Integration Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: flutter test integration_test/purchase_flow_test.dart
          working-directory: apps/mobile_flutter
